<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Events</title>

<link
	href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"
	rel="Stylesheet" type="text/css" />
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
	src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script language="javascript">
        $(document).ready(function () {
            $("#txtdate").datepicker({
                minDate: 0
            });
        });         

        function checkForm(form)
        {
          
          if(form.eventname.value != "" && form.location.value != "" && form.date.value != "" ) {
            
          } else {
            alert("Error: Please enter field values");
            return false;
          }

          
          return true;
        }

        
 </script>


</head>

<body style="margin-left: 150px; margin-right: 500px; margin-top: 50px;">

	<h2>
		Welcome, Ninja ,
		<p th:text="${currentUser}" />
	</h2>
	<div style="float: right;">
		<a href="/logout" />Logout</a>
	</div>



	<h4>Here are some of the events in your state ...</h4>

	<table border="1"
		style="border: 2px solid #000000; border-collapse: collapse;">
		<thead>
			<tr>
				<th>Event Name</th>
				<th>Location</th>

				<th>Host</th>
				<th>Date</th>
				<th>Action/Status</th>

			</tr>
		</thead>

		<tbody>
			<tr th:each="tempEvent : ${eventsToJoin}">

				<td><a th:href="@{'/events/' + ${tempEvent.id} }">
						<p th:text="${tempEvent.eventName}" />
				</a></td>

				<td th:text="${tempEvent.eventLocation}" />


				<td th:text="${tempEvent.getUserCreated().getFullName()}" />
				<td
					th:text="${#dates.format(tempEvent.getEventDate(), 'MMMM, d,yyyy') }" />



				<td><a th:href="@{'/events/join/' + ${tempEvent.id} }"> <span>Join</span>
				</a></td>
			</tr>
		</tbody>


		<tbody>
			<tr th:each="tempEvent : ${eventsJoining}">

				<td><a th:href="@{'/events/' + ${tempEvent.id} }">
						<p th:text="${tempEvent.eventName}" />
				</a></td>

				<td th:text="${tempEvent.eventLocation}" />


				<td th:text="${tempEvent.getUserCreated().getFullName()}" />
				<td
					th:text="${#dates.format(tempEvent.getEventDate(), 'MMMM, d,yyyy')}" />
				<td>Joining <a
					th:href="@{'/events/cancel/' + ${tempEvent.id} }"> Cancel </a>
				</td>
			</tr>
		</tbody>

		<tbody>
			<tr th:each="tempEvent : ${eventsCreated}">

				<td><a th:href="@{'/events/' + ${tempEvent.id} }">
						<p th:text="${tempEvent.eventName}" />
				</a></td>


				<td th:text="${tempEvent.eventLocation}" />


				<td th:text="${tempEvent.getUserCreated().getFullName()}" />
				<td
					th:text="${#dates.format(tempEvent.getEventDate(),'MMMM, d,yyyy')}" />



				<td><a th:href="@{'/events/' + ${tempEvent.id} + '/edit' }">
						Edit </a> | <a th:href="@{'/events/delete/' + ${tempEvent.id} }">
						Delete </a></td>
			</tr>
		</tbody>



	</table>

	<h4>Here are some of the events in other states ...</h4>


	<table border="1"
		style="border: 2px solid #000000; border-collapse: collapse;">
		<thead>
			<tr>
				<th>Event Name</th>
				<th>Location</th>
				<th>State</th>
				<th>Host</th>
				<th>Date</th>
				<th>Action/Status</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="tempEvent : ${eventsToJoinNotState}">

				<td><a th:href="@{'/events/' + ${tempEvent.id} }">
						<p th:text="${tempEvent.eventName}" />
				</a></td>

				<td th:text="${tempEvent.eventLocation}" />
				<td th:text="${tempEvent.state}" />

				<td th:text="${tempEvent.getUserCreated().getFullName()}" />
				<td
					th:text="${#dates.format(tempEvent.getEventDate(), 'MMMM, d,yyyy')}" />
				<td><a th:href="@{'/events/join/' + ${tempEvent.id} }">
						Join </a></td>
			</tr>
		</tbody>


		<tbody>
			<tr th:each="tempEvent : ${eventsJoiningNotState}">

				<td><a th:href="@{'/events/' + ${tempEvent.id} }">
						<p th:text="${tempEvent.eventName}" />
				</a></td>

				<td th:text="${tempEvent.eventLocation}" />
				<td th:text="${tempEvent.state}" />

				<td th:text="${tempEvent.getUserCreated().getFullName()}" />
				<td
					th:text="${#dates.format(tempEvent.getEventDate(), 'MMMM, d,yyyy')}" />
				<td>Joining <a
					th:href="@{'/events/cancel/' + ${tempEvent.id} }"> Cancel </a>
				</td>
			</tr>
		</tbody>

		<tbody>
			<tr th:each="tempEvent : ${eventsCreatedNotState}">

				<td><a th:href="@{'/events/' + ${tempEvent.id} }">
						<p th:text="${tempEvent.eventName}" />
				</a></td>

				<td th:text="${tempEvent.eventLocation}" />
				<td th:text="${tempEvent.state}" />

				<td th:text="${tempEvent.getUserCreated().getFullName()}" />
				<td
					th:text="${#dates.format(tempEvent.getEventDate(),'MMMM, d,yyyy')}" />
				<td><a th:href="@{'/events/' + ${tempEvent.id}  + '/edit' }">
						Edit </a> | <a th:href="@{'/events/delete/' + ${tempEvent.id} }">
						Delete </td>
			</tr>
		</tbody>



	</table>

	<H3>Create Event</H3>

	<form th:action="@{/events/createevent/}" method="post"
		onsubmit="return checkForm(this);">


		<p>
			Event name: <input type="text" name="eventname" />
		</p>
		<p>
			Date:
			<!--  	<input type="text" name="date" /> -->
			<input id="txtdate" name="date" type="text" placeholder="mm/dd/yyyy"
				style="background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;"
				required>
		</p>
		<p>
			Location: <input type="text" name="location" />
		</p>
		<p>
			State:
			<!--   <input type="text" name="state" /> -->
			<select name="state" id="state">
				<option th:each="state : ${states}" th:value="${state}"
					th:text="${state}"></option>
			</select>


		</p>

		<input type="submit" value="Create Event" />

	</form>


</body>
</html>



