
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Events</title>

<link
	href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"
	rel="Stylesheet" type="text/css" />
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
	src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script language="javascript">
	        $(document).ready(function () {
	            $("#txtdate").datepicker({
	                minDate: 0
	            });
	        });         
	 
	        function checkForm(form)
	        {
	          
	          if(form.name.value != "" && form.location.value != "" && form.date.value != "" ) {
	            
	          } else {
	            alert("Error: Please enter field values");
	            return false;
	          }
	
	          
	          return true;
	        }
	        
	 </script>

</head>

<body>
	<form th:action="@{/events/edit/}" method="post"
		onsubmit="return checkForm(this);">

		<h3>
			<p th:text=${eventName} />
		</h3>

		<p>
			Name: <input type="text" name="name" th:value="${eventName}" />
		</p>

		<input type="hidden" name="eventname" th:value=${eventName} /> <input
			type="hidden" name="eventId" th:value=${eventId} />

		<p>
			Date: <input id="txtdate" name="date" type="text"
				placeholder="mm/dd/yyyy"
				style="background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;"
				required>
		</p>
		<p>
			Location: <input type="text" name="location" th:value="${location}" />
		</p>
		<p>
			State: <select name="state" id="state">
				<option th:each="state : ${states}" th:value="${state}"
					th:text="${state}"></option>

			</select> <input type="submit" value="Edit" />
	</form>


</body>
</html>



